@font-face {
    font-family: Glamore;
    /* src: url("./font/glamore-font/Glamore-JRVvK.otf") format("otf"), */
      src:  url("./font/glamore-font/Glamore-VGyee.ttf") format("ttf");
   }
@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap');

/* Variables */
:root {
    --colorPrincipal: #DCB253;
}

/* hidden mobile */
.mobNav {
    display: none;
}

.flex {
    display: flex;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */
.deskNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    width: 100%;
    height: 10vh;
}

.logo img {
    width: 70%
}

.logo {
    margin-left: 40px;
}

.iconNav {
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin-right: 40px;
    cursor: pointer;
}

.iconNav img{
    max-width: 35px;
    max-height: 35px;
}

/* click on menu */
/* Menu */
.menuDesk {
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 0%;
    right: 8%;
    width: 1000px;
    height: 10vh;
    background-color: transparent;
    display: none;
}

.displayFlex {
    display: flex;
    animation-name: burger;
    animation-duration: 2s;
}

@keyframes burger {
    0% {right: 4%; top: 0px}
    100% {right: 8%; top: 0px}
}

.menu {
    position: absolute;
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 80%;
    background-color: transparent;
}

.menu li {
    font-family: 'Glamore';
    font-size: 22px;
    background-color: transparent;
    
}

.menu li:nth-child(1),
.menu li:nth-child(2), 
.menu li:nth-child(3) {
    border-right: 3px solid var(--colorPrincipal);
    padding-right: 40px;
} 

.menu li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    height: 40px;
}
/* Connexion */

.absolute {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
}

.formDesk {
    position: relative;
    height: 600px;
    width: 550px;
    padding: 50px 20px;
    background-color: #FFF;
    border: 1px solid var(--colorPrincipal);
    border-radius: 10px;
    display: none;
    z-index: 10;
}

.formDesk div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
} 

.activeProfil {
    display: flex;
}

.formDesk h1 {
    font-family: 'Glamore';
    padding-bottom: 20px;
    border-bottom: 2px solid var(--colorPrincipal);
    background-color: transparent;
}

.formDesk label {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Tinos';
    font-size: 30px;
    font-weight: 700;
    background-color: transparent;
}

.connex {
    width: 80%;
    height: 60px;
    color: #FFF;
    font-size: 30px;
}

.formDesk input {
    background-color: #F1F1F1;
    margin-top: 10px;
    border-radius: 5px;
    width: 70%;
    height: 50px;
    border: none;
}

input {
    padding: 10px;
    font-size: 18px;
}

/* Main image */
.main-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Search */
.search-bar {
    width: 90%;
    height: 100px;
    background-color: #F1F1F1;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    display: flex;
    padding: 20px 0 20px 20px;
}

.column:nth-child(2) input,
.column:nth-child(3) input{
    max-width: 85%;
}

.column:nth-child(4) input,
.column:nth-child(5) input,
.column:nth-child(6) input{
    max-width: 60%;
}

.search-bar input {
    background-color: #dadada;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    border: none;
}

.column{
    font-size: 20px;
    font-family: Tinos;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column label {
    padding-bottom: 5px;
}

 button img {
    width: 35px;
}

.deskNav button {
    background-color: white;
}

button {
    border: none;
    width: 10%;
    height: 100px;
    border-radius: 5px;
    background-color: var(--colorPrincipal);
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

/* Main page */
main{
    font-family: "Tinos",sans-serif;
    color: #242424;
}

main h2 {
    font-family:'Glamore';
}

.main-img {
    height: 90vh;
    width: 100%;
    background-image: url(/img/luxuryHouse5.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

/* section city  & best location*/

.section-star {
    display: flex;
    width: 100%;
    height: 80vh;
    flex-direction: column;
}

.section-city h2, .section-star h2 {
    margin-top: 50px;
    font-family:'Glamore';
    font-size: 36px;
}

.section-city h5, .section-star h5 {
    font-family:'Glamore';
}


.section-city h4,.section-star h4 {
    margin-top: 5px;
    font-weight: 400;
    font-size: 24px;
}

.section-city h2, .section-city h4, .section-star h2, .section-star h4 {
    margin-left: 5vw;
}

.city{
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.star-location {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.city img {
    height: 200px;
    width: auto;
    border-radius: 1%;
}

.city-card, .star-card {
    margin: 25px;
}



.gold-city {
    border: none;
    background-color: #DCB253;
    width: 50px;
    height: 3px;
    margin-top: 5px;
}

.gold-city-long {
    width: 80px;
    border: none;
    background-color: #DCB253;
    height: 3px;
    margin-top: 5px;
}

.city-card div {
    margin-top: 5px;
    margin-left: 20px;
}

.star-card img {
    height: 422px;
    width: 350px;
    background-size: contain;
    border-top-left-radius: 160px;
    border-top-right-radius: 160px;
    background-repeat: no-repeat;
}

.star-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.star-card hr {
    border: none;
    background-color: #DCB253;
    width: 150px;
    height: 3px;
}

.star-card div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* footer */

footer {
    height: 10vh;
    width: 100%;
    background-color: #F1F1F1;
    display: flex;
    align-items: center;
    gap: 45vw;
}

footer a {
    text-decoration: none;
    color: #242424;
}

footer>div {
    display: flex;
    gap: 4vw;
    padding-left: 40px;
    
}

footer hr {
    border: none;
    background-color: #DCB253;
    width: 100px;
    height: 3px;
}

.footer-hr-long {
    width: 150px;
}

.footer-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

/* Produit */

.main-produit {
    position: relative;
    height: 80vh;
}

.caroussel img {
    border-radius: 5px;
    height: 330px;
    width: 550px;
}

.glamore {
    font-family: 'glamore',sans-serif;
}

.fiche{
    border: #DCB253 1px solid;
    border-radius: 2%;
    padding: 25px;
    
    font-weight: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:40px;
}

.fiche h6 {
    font-size: 18px;
}


.fiche>* {
    margin-left: 30px;
}

.details {
    display: flex;
    gap: 100px;
}
.details p {
    margin-top: 5px;
}

.nb-personne {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nb-personne img{
    height: 30px;
    height: 30px;
}

.fiche>p {
    width: 80%;
}

.fiche-end {
    display: flex;
    gap: 50px;
}

.fiche-price {
    font-size: 25px;
}

.btn-reservation {
    width: 160px;
    height: 50px;
    color:#F1F1F1;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.btn-booking {
    width: 160px;
    height: 50px;
    color:#F1F1F1;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.equipement {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    gap:25px;
    margin-top:15px;
    margin-left:15px;
}

.hr-equipement {
    margin-left:3px;
    border: none;
    background-color: #DCB253;
    width: 70px;
    height: 5px;
    border-radius: 5px;

}

.block-booking {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    display: none;
}

.produit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    height: 75vh;
}


/* Booking */

.body-form{
    height: 100vh;
}

.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.booking {
    border: #DCB253 1px solid;
    border-radius: 5px;
    width: 900px;
    padding: 25px;
}

.booking img {
    float: right;
    height: 45px;
    width: 45px;
}

.booking h2 {
    text-align: center;
    padding-top: 50px;
    color: #DCB253;
}

.container-booking {
    display: flex;
    gap: 100px;
    margin-top: 50px;
}

.booking-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.select-booking {
    display: flex;
    gap: 15px;
}

.select-booking>p {
    width: 200px;
}

.input-check {
    margin-left: 5px;
}
.input-number {
    width: 20px;
    height: 20px;
    text-align: center;
}





/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Calendar Booking */

.container-calendar {
    width: 400px;
}

.flex {
	display: flex;
}
.flex.center-v {
	align-items: center;
}
.flex.center-h {
	justify-content: center;
}
.flex.center-vh {
	align-items: center;
	justify-content: center;
}
.flex.start {
	justify-content: flex-start;
}
.flex.end {
	justify-content: flex-end;
}
.flex.around {
	justify-content: space-around;
}
.flex.between {
	justify-content: space-between;
}
.flex.row {
	flex-direction: row;
}
.flex.column {
	flex-direction: column;
}
.flex.wrap {
	flex-wrap: wrap;
}
.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}
.clickable, #calender-title, 
#calender-panel, #calender-buttons {
	cursor: pointer;
}
.colorRed {
	color: #DCB253;
}
.bgColorRed {
	background-color: #DCB253;
}
.bgColorDarkRed {
	background-color: #DCB253;	
}
.width-full {
	width: 100%;
}
.width-half {
	width: 50%;
}
.width-3-4 {
	width: 75%;
}
.width-1-4 {
	width: 25%;
}
.overflow-hidden {
	overflow: hidden;
}


#calender-wrapper {
	position: relative;
	border: 6px solid #DCB253;
	border-radius: 10px;
	overflow: hidden;
}

#calender-panel {
	z-index: 5;
  position: relative;
	background: #DCB253;
	border-top: 6px solid #DCB253;
	color: white;
	font-size: 30pt;
	height: 60px;
}

#calender-panel p {
	padding-right: 20px;
}
#calender-panel p:hover {
	cursor: pointer;
	transition: .2s;	
}

#calender-title {
	background: #DCB253;
	color: white;
	font-size: 30pt;
	height: 60px;
}

#calender-title div {
	height: 60px;
	width: 60px;
}
#calender-title p {
	height: 60px;
	width: 150px;	
} 

#calender-title #left:hover span {
	padding-right: 10px;
	transition: .2s;
}
#calender-title #right:hover span {
	padding-left: 10px;
	transition: .2s;
}

#calender-content {
	width: 700px;
	padding: 10px;
}
#calender-panel #info {
	border-right: 6px solid #DCB253;
	height: 100%;
	width: 75%;
	font-size: 13pt;
}
#calender-panel #info div {
	padding-left: 20px;
	width: 100%;
	height: 50%;
}
#calender-panel #info div p {
	width: 50%;
	height: 100%;
	border-right: 6px solid #DCB253;
}

#calender-panel #clear {
	height: 100%;
	width: 25%;
	line-height: 12px;
	font-size: 14pt;
	text-align: center;
	transition: .4s;
}
#calender-panel #clear:hover {
	background: #C39C44;
}
#calender-panel #clear p {
	padding: 0;
	margin: 0;
}

#calender-buttons {
	margin-top: 20px;
	width: 720px;
	height: 60px;
	background: #DCB253;
	border: 6px solid #DCB253;
	border-radius: 10px;
	transition: .4s;
}
#calender-buttons:hover {
	height: 70px;	
}
#make-booking {
	width: 100%;
	height: 100%;
	font-size: 20pt;
	color: white;
}
#booking-wrapper {
	position: absolute;
	height: 650px;
	width: 720px;
	background: white;
	border-radius: 10px 10px 0 0;
	margin-top: 150px;
	transition: .4s;
	overflow: hidden;
}
#booking-wrapper.opened {
	margin-top: -645px;
}
#booking-title {
	color: white;
	font-size: 30pt;
	height: 60px;
	width: 100%;
}
#booking-form {
	height: 685px;
	width: 98%;
	padding: 10px;
	background: #DCB253;
}
#booking-form p {
	margin: 20px 0 0 0;
	color: white;
	font-size: 14pt;
}
#booking-form > div:nth-child(1) p {
	margin: 0;
}
#booking-form input {
	height: 45px;
}
#booking-form textarea {
	height: 235px;
	resize: none;
}
#booking-form textarea, #booking-form input {
	padding-left: 10px;
  width: calc(100% - 12px);
	background: white;
	color: #DCB253;
	font-family: "Baloo";
	font-size: 14pt;
}
textarea.formError, input.formError {
	transition: .4s;
	background: #ffdddd !important;
  box-shadow: inset 0px 0px 0px 5px rgba(205, 108, 108, 0.92);
}
#booking-form .width-3-4 {
	border-right: 6px solid #DCB253;
}

.month {
	width: 100px;
	height: 100px;
	transition: .4s;
}

#days p {
	width: 100px;
	text-align: center;	
	font-size: 15pt;
}

.month-selector {
	width: 100%;
	height: 100%;
	transition: .4s;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
	.month-selector.clicked {
		background: #DCB253;
		color: white;
	}
	.month-selector.booked {
		background: #743131;
		color: white;
		overflow: hidden;
	}
		.month-selector.booked:after {
			content: 'X';
			position: absolute;
			margin-top: -3px;
			font-size: 100pt;
			font-family: "Ubuntu";
			opacity: 0.1;
		} 
.clickable:hover {
	z-index: 3;
	height: 110px;
	width: 110px;
	box-shadow: 0px 0px 13px 4px rgba(0, 0, 0, 0.14);
	background: #DCB253;
	color: white;
}

/* Remerciement */

.remerciement {
    border: #DCB253 2px solid;
    border-radius: 5px;
    padding: 25px;
    height: 120px;
    width: 450px;
}

.thanks {
    display: none;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateX(-50%);
    transform: translateY(-50%);
}

.thank-close {
    height: 20px;
    width: 20px;

    float: right;
}

.remerciement p {
    font-size: 30px;
    text-align: center;
    color: #DCB253;
}


/* Media Queries */

@media (max-width: 480px) {
    .deskNav {
        display: none;
    }
    .mobNav {
        display: flex;
        width: 100%;
        height: 70px;
    }
}