@font-face {
    font-family: Glamore;
    /* src: url("./font/glamore-font/Glamore-JRVvK.otf") format("otf"), */
      src:  url("./font/glamore-font/Glamore-VGyee.ttf") format("ttf");
   }
@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap');

/* Variables */
:root {
    --colorPrincipal: #DCB253;
}

.flex {
    display: flex;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */
.deskNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 120px;
}

.logo img {
    width: 90%
}

.logo {
    margin-left: 40px;
}

.iconNav {
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin-right: 40px;
}

.iconNav img{
    width: 35px;
    height: 35px;
}

/* Main image */
.main-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Search */
.search-bar {
    width: 70%;
    height: 100px;
    background-color: #FFF;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    display: flex;
    padding: 20px 0 20px 20px;
    border: 1px solid var(--colorPrincipal);
}

.column:nth-child(2) input,
.column:nth-child(3) input{
    max-width: 40%;
}

.column:nth-child(4) input,
.column:nth-child(5) input,
.column:nth-child(6) input{
    max-width: 60%;
}

.search-bar input {
    background-color: #F1F1F1;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    border: none;
}

.column{
    font-size: 20px;
    font-family: Tinos;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column label {
    padding-bottom: 5px;
}

button img {
    width: 35px;
}

button {
    border: none;
    width: 10%;
    height: 100px;
    border-radius: 5px;
    background-color: var(--colorPrincipal);
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

/* Main page */
main{
    font-family: "Tinos",sans-serif;
    color: #242424;
}

main h2 {
    font-family:'Glamore';
}

.main-img {
    background-image: url(./imgs/background-img.jpg);
    height: 85vh;
    width: 100%;
}

/* section city  & best location*/



.section-city h2, .section-star h2 {
    margin-top: 50px;
    font-family:'Glamore';
}

.section-city h5, .section-star h5 {
    font-family:'Glamore';
}


.section-city h4,.section-star h4 {
    margin-top: 5px;
    font-weight: 400;
}

.section-city h2, .section-city h4, .section-star h2, .section-star h4 {
    margin-left: 10vw;
}

.city, .star-location {
    margin-top: 40px;
    display: flex;
    justify-content: center;

}

.city img {
    height: 150px;
    width: 200px;
    border-radius: 1%;
}

.city-card, .star-card {
    margin: 25px;
}



.gold-city {
    border: none;
    background-color: #DCB253;
    width: 50px;
    height: 3px;
    margin-top: 5px;
}

.gold-city-long {
    width: 80px;
    border: none;
    background-color: #DCB253;
    height: 3px;
    margin-top: 5px;
}

.city-card div {
    margin-top: 5px;
    margin-left: 20px;
}

.star-card img {
    height: 320px;
    width: 250px;
    background-position: center;
    background-size: contain;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}

.star-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.star-card hr {
    border: none;
    background-color: #DCB253;
    width: 150px;
    height: 3px;
}

.star-card div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* footer */

footer {
    height: 10vh;
    width: 100%;
    background-color: #F1F1F1;
    display: flex;
    align-items: center;
    gap: 45vw;
    padding-left: 40px;
}

footer a {
    text-decoration: none;
    color: #242424;
}

footer>div {
    display: flex;
    gap: 4vw;
    
}

footer hr {
    border: none;
    background-color: #DCB253;
    width: 100px;
    height: 3px;
}

.footer-hr-long {
    width: 150px;
}

.footer-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

/* Produit */



.main-produit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    height: 73vh;
}

.fiche{
    border: #DCB253 1px solid;
    border-radius: 2%;
    padding: 25px;
    
    font-weight: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:40px;
}

.fiche>* {
    margin-left: 30px;
}

.details {
    display: flex;
    gap: 100px;
}
.details p {
    margin-top: 5px;
}

.nb-personne {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nb-personne img{
    height: 30px;
    height: 30px;
}

.fiche>p {
    width: 80%;
}

.fiche-end {
    display: flex;
    gap: 50px;
}

.fiche-price {
    font-size: 25px;
}

.btn-reservation {
    width: 160px;
    height: 50px;
    color:#F1F1F1;
    font-size: 20px;
}